.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    text-decoration: none;
    color: rgb(117 114 114);

    &:global(.active) {
        font-weight: 900;
    }

}




@media screen and (min-width: 768px) {

    @keyframes width {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    .nav a:before {
        content: '';
        display: block;
        height: 2px;
    }

    .nav a:hover::before {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: rgb(117 114 114);;
        animation: width both 0.3s;
    }
    
}