.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-pragraph {
    width: 50%;
    font-size: xx-large;
    text-align: center;
}

.bold-text {
    font-weight: bolder;
    
}

.section h2 {
    font-size: 3rem;
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 40px;
}

.list img {
    width: 50px;
}

.list li {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list li h3 {
    margin: 0;
    background-color: rgb(249, 160, 160);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main-pragraph {
        width: 90%;
        font-size: large;
    }

    .section h2 {
        font-size: 2rem;
    }

    .list li {
        width: 250px;
    }
    
}