.about-us-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.welcome-video {
    width: 500px;
}

.welcome-video iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.about-us-info {
    width: 500px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 100% 10%;
}

.paragraph {
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.list-item {
    display: flex;
    gap: 10px;
}


.video-list-container {
    padding: 2rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

@media screen and (max-width: 600px) {
    .profile-container {
        width: 95%;
    }

    .welcome-video {
        width: 100%;
    }

    .about-us-info {
        width: 100%;
    }

    .image {
        height: 150px;
        width: 150px;
    }

    .paragraph {
        font-size: 1rem;
    }
    
}