.languages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
}