@font-face {
    font-family: "noto-sans-heb";
    src: url('./assets/font/NotoSansHebrew.ttf');
    font-weight: normal;
}

* {
    direction: rtl;
    font-family: "noto-sans-heb";
}

html,
body {
    margin: 0;
    padding: 0;
}