.web-nav {
    display: block;
}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 600px) {
    .web-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
    
}